<!DOCTYPE html>
<html ng-app="photoAlbumManager">
	<head>
	    <title>Photo Album Manager</title>

	    <!-- vendor -->
	    <script src="javascripts/vendor/angular.min.js"></script>
	    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script> -->

	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>

	    <!-- bootstrap -->
	    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="stylesheets/style.css" />
	    
	    <!-- app -->
	    <script src="javascripts/app.js"></script>
	     <base href="/">
    </head>

    <body ng-controller='mainController' class="container">

        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
            </div>
            </nav>
        </header>

        <div ng-view></div>
    	
    </body>
</html>
